
@{
    //Layout = "";
    TheApp.IO.DataCom.GetUsers u = new TheApp.IO.DataCom.GetUsers();
    TheApp.Objects.User[] users = u.GetAll();

    foreach (TheApp.Objects.User user in users)
    {
        <div style="border: 1px solid gray; border-radius: 30px;" class="row">
            <div class="col-md-3">
                <div class="profile-picture-container">
                
                        <img class ="profile-picture" src="/Pics/UP.png">
                
            </div>
            </div>
            <div class="col-md-6 user-link" data-id="@user.userID">
                <br /><br />
                <p>@user.firstName @user.lastName</p>
                <p>@user.location</p>
                <p>@user.stageName</p>
                <p>@user.email</p>
            </div>
        </div>
        <br />
    }
}

<script>
        $('.user-link').click(function (e) {
            e.preventDefault();
            var id = $(this).data('id');
            loadUser(id);
        });

        function loadUser(id) {
            $.ajax({
                url: '/Home/UserPage',
                type: 'POST',
                data: { id: id },
                success: function (response) {
                    $('#SiteContent').html(response);

                },
                error: function () {
                    alert('Error making AJAX call.');
                }
            });
        }

    </script>