
@{
    Layout = "";
    TheApp.Objects.User[] u = new TheApp.IO.DataCom.GetUsers().GetUser((int)ViewData["userID"]);

    try
    {
        TheApp.Objects.File[] pic = new TheApp.IO.DataCom.GetFiles().GetProfilePicture(u[0].userID);
        string path = System.IO.Path.Combine(pic[0].filePath, pic[0].fileName);
        <p>@path</p>
    }catch(Exception ex)
    {
        
    }

}



<div class="row">
    <div class="col-md-3">
        <div class="profile-container">
            <!-- Profile picture go here -->
            <div class="profile-picture">
                @try{
                    TheApp.Objects.File[] pic = new TheApp.IO.DataCom.GetFiles().GetProfilePicture(u[0].userID);
                    string path = System.IO.Path.Combine(pic[0].filePath, pic[0].fileName);

                    <img src="@Url.Content("~/uploads/" + pic[0].fileName)" alt="Profile Picture 1">

                }catch(Exception ex)
                {
                    
                }
                
            </div>
        </div>

        <!-- Change Profile Picture -->
        @await Component.InvokeAsync("FilePost")
    </div>
    <div class="col-md-9">
        <br /><br />
        <h3>@u[0].stageName</h3>
        <p>Genre: @u[0].genreLabel</p>
        <p>Location: @u[0].location</p>
        <p>Bio Line: xxxxxxx</p>
    </div>
</div>

@await Component.InvokeAsync("Post", new {type = "User", ID = u[0].userID})
        